:root {
  --color-bg-white: #FFFFFF;
  --color-font-base: #202020;
  --color--font-accent: #000000;
  --color-decor-blue: rgb(51, 51, 220);
  --color-bg-grey: #F4F4F4;
  --color-checked-grey: #C4C4C4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  height: 100vh;
  /* overflow: hidden; */
  background-color: var(--color-bg-white);
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  margin: 40px auto 20px;
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
}

.bayan-container {
  width: 70%;
}

.item {
  color: var(--color-decor-blue);
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  padding: 10px 20px 10px 20px;
  border-bottom: 1px solid var(--color-checked-grey);
  width: 100%;
}

.item input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.item input[type=radio]:checked+label .icon {
  transform: rotate(-45deg);
}

.item input[type=radio]:hover+label .icon {
  transform: rotate(-45deg);
}

.meme {
  max-height: 0;
  overflow: hidden;
  transition: max-height .35s;
  display: block;
  margin: 0px auto;
}

.item input:hover~.meme {
  max-height: 300px;
  margin: 20px auto;
  display: block;
}

.item input:checked~.meme {
  max-height: 300px;
  margin: 20px auto;
  display: block;
}

.item:hover input~.meme {
  max-height: 300px;
  margin: 20px auto;
  display: block;
}

.item-line {
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}

.icon {
  cursor: pointer;
  transition: all 200ms ease-in-out;
  visibility: hidden;
}

.bayan-container:hover .icon {
  visibility: visible;
}

.bayan-container:hover .item {
  color: var(--color--font-accent);
}


/* .icon:hover {
  color: var(--color--font-accent);
  transform: scale(1.1);
} */